*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    

    
}
#carousel{
    position: relative;
    
    /*overflow: hidden;*/
}
#carousel img{
    height: 500px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 30px;
    object-fit: cover;
    
    
} 
#carousel .text{
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}
#thumblains{

    position: relative;
    opacity: 1;

}
#thumblains img{
    height: 100px;
    width: 100%;
    opacity: 0.3;
    object-fit: cover;
    object-position: center;
    

}
#thumblains img.active{
    border: 2px solid #ccc;
    opacity: 1;
}
#arrow-1{
    text-align: center;
    
    font-size: 1.5em;
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    

    color: white;
    text-shadow: 2px 4px 3px black;
   
    transform: scale(1);
    transition: transform 0.3s ease;
}
#arrow-2{
    text-align: center;
    
    font-size: 2em;
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    

    color: white;
    text-shadow: 2px 4px 3px black;
   
    
    transform: scale(1);
    transition: transform 0.3s ease;
}
#arrow-1 *:hover{
    cursor: pointer;
    transform: scale(1.2);
}
#arrow-2 *:hover{
    cursor: pointer;
    transform: scale(1.2);
}

